<div class="row">

  <div class="col-lg-6">

    <%= form_for(@feed) do |f| %>
        <% if @feed.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@feed.errors.count, 'error') %> prohibited this feed from being saved:</h2>

              <ul>
                <% @feed.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :image_url %><br>
          <%= f.text_field :image_url, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Save Feed', class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>