<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Listing Feeds
      <small>Listing Feeds</small>
    </h1>
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <%= link_to 'Feeds', feeds_path %>
      </li>
      <li class="active">
        <i class="fa fa-file"></i> Listing Feeds
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Description</th>
          <th>Image url</th>
          <th>Day</th>
          <th colspan="3"> Actions </th>
        </tr>
        </thead>

        <tbody>
        <% @feeds.each do |feed| %>
            <tr>
              <td><%= feed.description %></td>
              <td><img src="<%= feed.image_url %>"></td>
              <td><%= feed.day %></td>
              <td><%= link_to 'Show', feed , class: 'btn btn-info'%></td>
              <td><%= link_to 'Edit', edit_feed_path(feed) , class: 'btn btn-warning'%></td>
              <td><%= link_to 'Destroy', feed, class: 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Feed', new_feed_path , class: 'btn btn-default'%>
    </div>
  </div>
</div>