<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise:</strong>
  <%= @feed.enterprise %>
</p>

<p>
  <strong>Day:</strong>
  <%= @feed.day %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @feed.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
