<div class="row">
  <div class="col-lg-6">
    <%= form_for(@mask) do |f| %>
        <% if @mask.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mask.errors.count, "error") %> prohibited this mask from being saved:</h2>

              <ul>
                <% @mask.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :imageUrl %><br>
          <%= f.text_field :imageUrl , class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :thumbUrl %><br>
          <%= f.text_field :thumbUrl , class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= f.submit 'Save Mask', class: 'btn btn-success'%>
        </div>
    <% end %>
  </div>
</div>