<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Listing Masks
      <small>Listing Masks</small>
    </h1>
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <%= link_to 'Masks', masks_path %>
      </li>
      <li class="active">
        <i class="fa fa-file"></i> Listing Masks
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th>Thumb</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @masks.each do |mask| %>
            <tr>
              <td><img src="<%= mask.imageUrl %>"></td>
              <td><img src="<%= mask.thumbUrl %>"></td>
              <td><%= link_to 'Show', mask , class: 'btn btn-info'%></td>
              <td><%= link_to 'Edit', edit_mask_path(mask) , class: 'btn btn-warning'%></td>
              <td><%= link_to 'Destroy', mask, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Mask', new_mask_path , class: 'btn btn-default'%>
    </div>
  </div>
</div>

