<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise:</strong>
  <%= @mask.enterprise %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @mask.imageUrl %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @mask.thumbUrl %>
</p>

<%= link_to 'Edit', edit_mask_path(@mask) %> |
<%= link_to 'Back', masks_path %>
