<div class="row">
  <div class="col-lg-6">
    <%= form_for(@notification) do |f| %>
        <% if @notification.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being
                saved:</h2>

              <ul>
                <% @notification.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :text %><br>
          <%= f.text_field :text, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Send Notification', class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>