<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Listing Notifications
      <small>Listing Notifications</small>
    </h1>
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <%= link_to 'Notifications', notifications_path %>
      </li>
      <li class="active">
        <i class="fa fa-file"></i> Listing Notifications
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Text</th>
          <th>Date</th>
          <th colspan="3">Action</th>
        </tr>
        </thead>

        <tbody>
        <% @notifications.each do |notification| %>
            <tr>
              <td><%= notification.text %></td>
              <td><%= notification.date %></td>
              <td><%= link_to 'Show', notification, class: 'btn btn-info' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to 'New Notification', new_notification_path , class: 'btn btn-default'%>

  </div>
</div>