<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise:</strong>
  <%= @notification.enterprise %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notification.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @notification.date %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
