<div class="row">
  <div class="col-lg-6">
    <%= form_for(@agenda) do |f| %>
        <% if @agenda.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

              <ul>
                <% @agenda.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :event_name %>
          <%= f.text_field :event_name,class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description,class: 'form-control' %>
        </div>

        <div>
          <%= f.label :event_description %><br>
          <%= f.text_field :event_description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :imageUrl %><br>
          <%= f.text_field :imageUrl,class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :start_date %><br>
          <%= f.datetime_select :start_date,class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :end_date %><br>
          <%= f.datetime_select :end_date,class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Save Agenda', class: 'btn btn-success' %>
        </div>

    <% end %>
  </div>
</div>