<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Listing Agendas
      <small>Listing Agendas</small>
    </h1>
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <%= link_to 'Agenda', agendas_path %>
      </li>
      <li class="active">
        <i class="fa fa-file"></i> Listing Agendas
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Event Description</th>
          <th>Image</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @agendas.each do |agenda| %>
            <tr>
              <td><%= agenda.event_name %></td>
              <td><%= agenda.description %></td>
              <td><%= agenda.event_description %>    </td>
              <td><img src="<%= agenda.imageUrl %>"></td>
              <td><%= agenda.start_date %></td>
              <td><%= agenda.end_date %></td>
              <td><%= link_to 'Show', agenda , class: 'btn btn-info'%></td>
              <td><%= link_to 'Edit', edit_agenda_path(agenda), class: 'btn btn-warning'%></td>
              <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Agenda', new_agenda_path , class: 'btn btn-default'%>

    </div>
  </div>
</div>
