<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      New Agenda
      <small>New Agenda</small>
    </h1>
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <%= link_to 'Agenda', agendas_path %>
      </li>
      <li class="active">
        <i class="fa fa-file"></i> New Agenda
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>