<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise:</strong>
  <%= @agenda.enterprise %>
</p>

<p>
  <strong>Day:</strong>
  <%= @agenda.start_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agenda.description %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @agenda.imageUrl %>
</p>

<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
