<!DOCTYPE html>
<html>
<head>
  <title>YourClub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'devise' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well login-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <legend>Login</legend>
            <div class="form-group">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password %><br/>
              <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
            </div>
            <div class="form-group">
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              <% end -%>
            </div>
            <div class="form-group text-center">
              <%= f.submit 'Log in', class: 'btn btn-success btn-login-submit' %>
            </div>
        <% end %>
      </div>
      <div class="row notice">
        <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>

</div>
</body>
</html>


<!--
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
-->
