<div class="row">
  <div class="col-lg-6">
    <%= form_for(@enterprise) do |f| %>
        <% if @enterprise.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

              <ul>
                <% @enterprise.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name , class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :addres %><br>
          <%= f.text_field :addres , class: 'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :logoUrl %><br>
          <%= f.text_field :logoUrl , class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :club_image %>
          <%= f.text_field :club_image, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :telephone %><br>
          <%= f.text_field :telephone , class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_field :description , class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :hashtag %><br>
          <%= f.text_field :hashtag , class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Save' , class:'btn btn-success'%>
        </div>
    <% end %>
  </div>
</div>