<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= current_user.enterprise.name %>
      <small>Editing Info</small>
    </h1>
    <p id="notice"><%= notice %></p>
  </div>
</div>

<%= render 'form' %>