<div class="row">
  <div class="col-lg-12">
    <p>
    <h1><%= @enterprise.name %></h1>
    </p>

    <p>
      <strong>Addres:</strong>
      <%= @enterprise.addres %>
    </p>

    <p>
      <strong>Logourl:</strong>
      <%= @enterprise.logoUrl %>
    </p>

    <p>
      <strong>Telephone:</strong>
      <%= @enterprise.telephone %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @enterprise.description %>
    </p>

    <p>
      <strong>Hashtag:</strong>
      <%= @enterprise.hashtag %>
    </p>

    <%= link_to 'Edit', edit_enterprise_path(@enterprise), class: 'btn btn-default' %>
  </div>
</div>